* {
    font-family: 'Comic Neue', cursive;
    background-image: url("./img/swamp.jpg");
}

body {
    margin: 0%;
    padding: 30%;
}

.cabesa {
    text-decoration: underline;
    color: peru;
}

.webo {
    color: darkorange;
    background-color: tan;
}

.oVo {
    padding: 5%;
    border: black 1px;
    border-radius: 20px;
}

#privilege {
    color: white;
}

h1 {
    background-image: url("./img/shreeeeeeeeeeeeeeeeeeeeek.jpg");
}

.spam {
    font-weight: 900;
    background-color: magenta;
}

li .ª {
    border: black 1px;
    border-radius: 5px;
}